.search-container {
    padding: 30px;
}
  
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  
  @media screen and (max-width: 575px) {
    .search-container {
      float: right;
      width: 30vw;
      max-height: 3vh;
      margin-right: 20px;
    }
   input[type=text], .search-container  {
      float: right;
      display: flex;
      flex-direction: row-reverse;
      text-align: left;
      width: 30vw;
      max-height: 3vh;
    }
   input[type=text] {
      border: 1px solid #ccc;  
    }
  }




