
body{
    font-family: 'Muli', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;

}

.container{
    display:flex;
    width:100vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: teal;
    height:100%;
    border-radius: 10px;
    flex:0.5;
    position:relative;
    transition: flex 0.5s ease-in;
    color:rgb(0, 0, 0);
    cursor:pointer;
    margin:10px;
}


